
@{
    ViewBag.Title = "Listado de usuarios.";
    var Usuarios = ViewBag.Usuarios;
}

<div class="header-page row">
    <div class="col-md-18">
        <h2>Usuarios.</h2>
        <div class="btn-group">
            <a href="/User/New" class="btn btn-success">
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i> Registrar usuario.
            </a>
        </div>
    </div>
</div>

<div class="row blank_space"></div>
<table id="table-dinamic" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Correo Electrónico</th>
            <th>Perfil</th>
            <th>Estado</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Usuarios)
        {
        	<tr>
        		<td>@Html.Raw(user["NombreUsuario"])</td>
        		<td>@Html.Raw(user["Documento"])</td>
        		<td>@Html.Raw(user["Email"])</td>
        		<td>@Html.Raw(user["Rol"])</td>
        		<td>
        			@{        var Style = "";
                        if (int.Parse(@Html.Raw(user["IdEstado"]).ToString()) == 1)
                        {
                            Style = "btn-success";
                        }
                        else
                        {
                            Style = "btn-danger";
                        }

        			<span class='btn btn-sm @Html.Raw(Style)'>
        				@Html.Raw(user["Estado"])
        			</span>
                        }
	        	</td>
                <td>
                	<div class="btn-group btn-group-justified">
			            <a href='/User/Update?userId=@Html.Raw(user["Id"])' class="btn btn-sm btn-info " title="Modificar">
			                <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
			            </a>
			            <a href="#"  id='@Html.Raw(user["Id"])' class="deleteUserBtn btn btn-sm btn-danger " title="Eliminar">
			                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
			            </a>
			        </div>
                </td>	
            </tr>
        }
    </tbody>
</table>
