
@{
    ViewBag.Title = "Consulta de envíos";
    var Paquetes = ViewBag.Paquetes;
}

<div class="row">
    <div class="col-md-18">
        <h2>Consulta de envíos.</h2>
        <div class="btn-group">
            <a href="/" class="btn btn-info">
                <i class="glyphicon glyphicon-home" aria-hidden="true"></i> Volver al inicio.
            </a>
        </div>
    </div>
</div>

<br><br>

<table id="table-dinamic" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Descripción</th>
            <th>Remitente</th>
            <th>Destinatario</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Costo</th>
            <th>Fecha de registro</th>
            <th>Fecha de entrega</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paquete in Paquetes)
        {
            <tr>
                <td>@Html.Raw(paquete["Descripcion"])</td>
                <td>@Html.Raw(paquete["NombreRemitente"])</td>
                <td>@Html.Raw(paquete["NombreDestinatario"])</td>
                <td>@Html.Raw(paquete["CiudadOrigen"])</td>
                <td>@Html.Raw(paquete["CiudadDestino"])</td>
                <td>$ @Html.Raw(paquete["Valor"])</td>
                <td>@Html.Raw(paquete["Fecha_Registro"])</td>
                <td>@Html.Raw(paquete["Fecha_Entrega"])</td>
                <td>@Html.Raw(paquete["Estado"])</td>
            </tr>
        }
    </tbody>
</table>
