
@{
    ViewBag.Title = "Consulta";
    var Paquetes = ViewBag.Paquetes;
}

<h2>Consulta de envíos.</h2>

<table border="0" cellpadding="0" cellspacing="1">
    <thead>
        <tr>
            <th>Descripción</th>
            <th>Remitente</th>
            <th>Destinatario</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Costo</th>
            <th>Fecha de registro</th>
            <th>Fecha de entrega</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paquete in Paquetes)
        {
        <tr>
            <td>@Html.Raw(paquete["Descripcion"])</td>
            <td>@Html.Raw(paquete["NombreRemitente"])</td>
            <td>@Html.Raw(paquete["NombreDestinatario"])</td>
            <td>@Html.Raw(paquete["CiudadOrigen"])</td>
            <td>@Html.Raw(paquete["CiudadDestino"])</td>
            <td>$ @Html.Raw(paquete["Valor"])</td>
            <td>@Html.Raw(paquete["Fecha_Registro"])</td>
            <td>@Html.Raw(paquete["Fecha_Entrega"])</td>
            <td>@Html.Raw(paquete["Estado"])</td>
        </tr>
        }
    </tbody>
</table>
